# Dossier contenant les ressources statiques (images, vidéos, etc.)
# Ces fichiers sont souvent volumineux et ne nécessitent pas de versionnage.
# /assets/

# Dossier de logs généré automatiquement
/Logs/

# Fichiers de configuration utilisateur spécifiques (si ajoutés plus tard)
*.user
.env

# Fichiers temporaires
*.tmp
*~
clean-mirror/
